{% include 'base.html.twig' %}
<main role="main" class="container">
<hr><h1>Types de pokémons disponibles !!</h1><hr><br>
{% for message in app.flashes('success') %}
  <div class="alert alert-success">{{message}}</div>
{% endfor %}
 <div class="row"> 
  {% for type in types %}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
       <img src="https://www.serebii.net/pokedex-bw/type/{{ type.nom|default('N/C') }}.gif" />
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-sm btn-outline-secondary" href="{{ path('types_show', {'id': type.id}) }}">Voir</a>
            <a class="btn btn-sm btn-outline-secondary" style="margin-right:10px" href="{{ path('types_edit', {'id': type.id}) }}">Editer</a>
            {{ include('types/_delete.html.twig') }}
          </div>
      </div>
    </div>
  </div>
    {% else %}
        Aucun type disponible.
    {% endfor %}
</div>
<br>
<div class="navigation">
    {{ knp_pagination_render(types) }}
</div>
<br>

<a class="btn btn-primary" href="{{ path('types_new') }}">Créer un type</a>

</main>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>