{% include 'base.html.twig' %}
<main role="main" class="container">
<h1>Infos type</h1>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
       <img src="https://www.serebii.net/pokedex-bw/type/{{ type.nom|default('N/C') }}.gif" />
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            {# <a class="btn btn-sm btn-outline-secondary" href="{{ path('types_show', {'id': types.id}) }}">Voir</a>
            <a class="btn btn-sm btn-outline-secondary" style="margin-right:10px" href="{{ path('types_edit', {'id': type.id}) }}">Editer</a>
            {{ include('types/_delete.html.twig') }} #}
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<a href="{{ path('types_index') }}" class="btn btn-dark">Retourner à l'accueil</a>



</main>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>